@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Mono&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(211, 206, 196);
}
h2{
    text-align: center;
    text-transform: uppercase;
    justify-content:center;
}
.prof-container {
    text-align: center;
}
.prof-container img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}
fieldset{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(240, 234, 221);
    
}

.container input, .container select{
    
    width:500px;
    height: 25px;
    margin-left: 300px;
    margin-bottom: 0;
    border-radius: 6px;
}
.container label{
   display: flex;
   flex-direction: column;
    margin-bottom: 0;
    font-weight: bold;
}
.container button{
    margin-left: 500px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 6px;
}
.container button:hover{
    background-color: red;
    cursor: pointer;
}